<div class=loginForm id="UserDetails">
    <form id="userDetailForm" action="/action_page.php" method="POST">
        <h2>LOGIN</h2>
        <div class="container">
            <label for="name"><b>Username</b></label><br>
            <input type="email" [(ngModel)]="loginUserData.username" id="name" placeholder="Enter Email ID" name="name" maxlength="100" title="Max length of 100 is alowed" pattern='^[0-9a-zA-Z]*$' required><br>
            <label for="psw"><b>Password</b></label><br>
            <input type="password" [(ngModel)]="loginUserData.password" placeholder="Enter Password" name="password" required><br>
            <button type="button" (click)="userLogin()">Login</button><br>
        </div>

        <div class="container2">
            Not a user? <a href="/signup">Register</a>
        </div>

    </form>
</div>