/* Styling the login page */

.headerblock {
    form {
        background-color: white;
        border: 3px solid #f1f1f1;
        .container2 {
            background-color: #f1f1f1;
        }
    }
}

// Styling the popup for all use cases
.overlay {
    .overlay-content {
        form {
            background-color: rgb(0, 0, 0, 0.5);
            border: 3px solid #f3ecec;
        }
    }
}