<div class=headerblock>

    <!-- Block used to add details for a new song -->
    <div id="myNewNav" class="overlay">
        <div class="overlay-content">
            <form id="newSongFormAdmin" action="/action_page.php" method="POST">
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav('myNewNav')">&times;</a>
                <h2>Add Details</h2>
                <div class="container">
                    <label for="title"><b>Title*</b></label><br>
                    <input type="text" [(ngModel)]="newTitle" id="title" placeholder="Enter your title here*" name="name" maxlength="100" title="Max length of 100 is alowed" pattern='^[0-9a-zA-Z]*$' required><br>
                    <label for="artist"><b>Artist*</b></label><br>
                    <input type="text" [(ngModel)]="newArtist" placeholder="Enter artist*" name="artist" required><br>
                    <label for="album"><b>Album</b></label><br>
                    <input type="text" [(ngModel)]="newAlbum" placeholder="Enter album" name="album"><br>
                    <label for="track"><b>Track</b></label><br>
                    <input type="text" [(ngModel)]="newTrack" placeholder="Enter track" name="track"><br>
                    <label for="Genre"><b>Genre</b></label><br>
                    <input type="text" [(ngModel)]="newGenre" placeholder="Enter genre" name="genre"><br>
                </div>
                <h2>Add Review</h2>
                <div class="container">
                    <label for="Review"><b>Review</b></label><br>
                    <input type="text" [(ngModel)]="newReview" placeholder="Enter review" name="review"><br>
                    <label for="Rating"><b>Rating</b></label><br>
                    <input type="number" [(ngModel)]="newRating" placeholder="Enter rating" name="rating" min=0 max=5><br>
                    <button type="button" (click)="addNewSongFE()">Update</button><br>
                </div>
            </form>
        </div>
    </div>

    <!-- Block used to add review for a new song -->
    <div id="myReviewNav" class="overlay">
        <div class="overlay-content">
            <form id="newReviewFormAdmin" action="/action_page.php" method="POST">
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav('myReviewNav')">&times;</a>
                <h2>Add Review</h2>
                <div class="container">
                    <label for="Review"><b>Review</b></label><br>
                    <input type="text" [(ngModel)]="newReview" placeholder="Enter review" name="review"><br>
                    <label for="Rating"><b>Rating*</b></label><br>
                    <input type="number" [(ngModel)]="newRating" placeholder="Enter rating*" name="rating" min=0 max=5><br>
                    <button type="button" (click)="reviewThisSong()">Update</button><br>
                </div>
            </form>
        </div>
    </div>

    <!-- Block used to add a new playlist -->
    <div id="myPlaylistNav" class="overlay">
        <div class="overlay-content">
            <form id="newPlaylistFormAdmin" action="/action_page.php" method="POST">
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav('myPlaylistNav')">&times;</a>
                <h2>Add Playlist</h2>
                <div class="container">
                    <label for="Title"><b>Title</b></label><br>
                    <input type="text" [(ngModel)]="newPlaylistTitle" placeholder="Enter title*" name="title"><br>
                    <label for="Description"><b>Description</b></label><br>
                    <input type="text" [(ngModel)]="newPlaylistDesc" placeholder="Enter description" name="description"><br>
                    <label for="isPublic"><b>Mark Public?</b></label><br>
                    <input type="text" [(ngModel)]="newPlaylistIsPublic" placeholder="true/false" name="ispublic"><br>
                    <button type="button" *ngIf="!addSong" (click)="addNewPlaylistFE()">Add</button><br>
                    <button type="button" *ngIf="addSong" (click)="addNewPlaylistNSongFE()">Add</button><br>
                </div>
            </form>
        </div>
    </div>

    <!-- Block used to add song to playlist -->
    <div id="mySong2PlaylistNav" class="overlay">
        <div class="overlay-content">
            <form id="newSong2PlaylistFormAdmin">
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav('mySong2PlaylistNav')">&times;</a>
                <h2>User Playlist</h2>
                <ul *ngIf="allUserPlaylists ">
                    <li *ngFor="let allUserPlaylist of allUserPlaylists ">
                        <button class="notifButton" type="button" (click)="addSongToPlaylistFE(allUserPlaylist._id)"><b>&#65291;</b> </button>
                        <p class="detail "><b>{{ allUserPlaylist.title }}</b></p>
                    </li>
                </ul>
                <button class="notifButton" type="button" (click)="requestPlaylistDetails()"><b>Add New Playlist</b> </button>
            </form>
        </div>
    </div>

    <!-- Block used to edit the playlist details -->
    <div id="myPlaylistEditNav" class="overlay">
        <div class="overlay-content" *ngIf="playListDetails">
            <form id="editPlaylistFormAdmin" action="/action_page.php" method="POST">
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav('myPlaylistEditNav')">&times;</a>
                <h2>Edit Details</h2>
                <div class="container">
                    <label for="title"><b>Title</b></label><br>
                    <input type="text" [(ngModel)]="playListDetails.title" id="title" placeholder="playListDetails.title" name="title" maxlength="100" title="Max length of 100 is alowed" pattern='^[0-9a-zA-Z]*$' required><br>
                    <label for="description"><b>Description</b></label><br>
                    <input type="text" [(ngModel)]="playListDetails.description" placeholder="playListDetails.description" name="description" required><br>
                    <label for="ispublic"><b>Is Public?</b></label><br>
                    <input type="text" [(ngModel)]="playListDetails.isPublic" placeholder="playListDetails.isPublic" name="ispublic" required><br>
                    <button type="button" (click)="updatePlaylistDetailsFE(playListDetails._id)">Update</button><br>
                </div>
                <h2>List of Songs</h2>
                <ul id="songsinplaylist" *ngIf="playListDetails.playlistArray">
                    <li *ngFor="let playlistSong of playListDetails.playlistArray">
                        <button class="notifButton" type="button" (click)="removeSongFromPlaylistFE(playListDetails._id, playlistSong._id)"><b>&times;</b> </button>
                        <p class="detail"><b>{{ playlistSong.title }}</b></p>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <div class="lefttab">
        <button class="tablinks" (click)="openTab('Songs')">Songs</button>
        <button class="tablinks" (click)="openTab('Playlists')">Playlists</button>
    </div>

    <div id="Songs" class="lefttabcontent">
        <button class="notifButton" type="button" (click)="openNav('myNewNav')"><b>&#65291;Add New Song</b> </button>
        <span class=searchContainer>
            <input class="notifButton " type="text " [(ngModel)]="songname " placeholder="Enter search text here " maxlength="100 " title="This search supports all attributes to search for songs " pattern='^[0-9a-zA-Z]*$' required><br>
            <button class="notifButton " type="button " (click)="searchSong(songname) "> &#8981; </button>
        </span>
        <ul *ngIf="allSongs ">
            <li *ngFor="let allSong of allSongs ">
                <p class="detail "><b>{{ allSong.title }}</b></p>
                <p class="detail "><b>Artist:</b> {{ allSong.artist || "N/A" }}</p>
                <p class="detail "><b>Album:</b> {{ allSong.album || "N/A" }}</p>
                <p class="detail "><b>Track:</b> {{ allSong.track || "N/A" }}</p>
                <p class="detail "><b>Genre:</b> {{ allSong.genre || "N/A" }}</p>
                <button class="notifButton" type="button" (click)="getReviewofSong(allSong._id)"><b>Add Review</b> </button>
                <button class="notifButton" type="button" (click)="getPlaylistsandDisplay(allSong._id)"><b>Add to Playlist</b> </button>
            </li>
        </ul>
    </div>

    <div id="Playlists" class="lefttabcontent" style="display: none">
        <button class="notifButton" type="button" (click)="openNav('myPlaylistNav');addSong= false;"><b>&#65291;Add New Playlist</b> </button>
        <span class=searchContainer>
            <input class="notifButton" type="text" [(ngModel)]="playlistname" placeholder="Enter search text here " maxlength="100" pattern='^[0-9a-zA-Z]*$' required><br>
            <button class="notifButton" type="button" (click)="searchPlaylistFE(playlistname)"> &#8981; </button>
        </span>
        <ul *ngIf="allPlaylists ">
            <li *ngFor="let allPlaylist of allPlaylists ">
                <p class="detail "><b>{{ allPlaylist.title }}</b></p>
                <p class="detail "><b>User:</b> {{ allPlaylist.username || "N/A" }}</p>
                <p class="detail "><b>Desc:</b> {{ allPlaylist.description || "N/A" }}</p>
                <button class="notifButton" type="button" *ngIf="allPlaylist.username===self" (click)="getPlaylistByIDFE(allPlaylist._id)"><b>Edit Details</b> </button>
            </li>
        </ul>
    </div>

</div>