/* Styling the songs page */

.headerblock {
    .searchContainer {
        display: flex;
        flex-wrap: wrap;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        li {
            background: rgba(250, 244, 215, 0.856);
            padding: 1em;
            margin-right: 10px;
            width: 20%;
            margin-bottom: 1em;
            display: flex;
            flex-direction: column;
            p {
                margin: 0;
            }
            p.name {
                font-weight: bold;
                font-size: 1rem;
            }
            p.detail {
                font-size: 0.8rem;
            }
        }
        .songReview {
            margin-left: 10%;
            width: 70%;
            background: rgba(250, 244, 215, 0.4);
        }
    }
}

form div label {
    color: white;
}