<div class=headerblock id="UserDetails">
    <form id="userDetailForm" action="/action_page.php" method="POST">
        <h2>SIGNUP</h2>
        <div class="container">
            <label for="name"><b>Username</b></label><br>
            <input type="email" [(ngModel)]="username" id="name" placeholder="Enter Email ID" name="name" maxlength="100" title="Max length of 100 is alowed" pattern='^[0-9a-zA-Z]*$' required><br>

            <label for="psw"><b>Password</b></label><br>
            <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="password" required><br>

            <button type="button" (click)="userSignup(username, password)">Signup</button><br>
        </div>
    </form>
</div>