<div class=headerblock>

    <!-- Block used to edit the song details -->
    <div id="myNav" class="overlay">
        <div class="overlay-content" *ngIf="songDetails ">
            <form id="editSongFormAdmin" action="/action_page.php" method="POST">
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav('myNav')">&times;</a>
                <h2>Edit Details</h2>
                <div class="container">
                    <label for="title"><b>Title</b></label><br>
                    <input type="text" [(ngModel)]="songDetails.title" id="title" placeholder="songDetails.title" name="name" maxlength="100" title="Max length of 100 is alowed" pattern='^[0-9a-zA-Z]*$' required><br>
                    <label for="artist"><b>Artist</b></label><br>
                    <input type="text" [(ngModel)]="songDetails.artist" placeholder="songDetails.artist" name="artist" required><br>
                    <label for="album"><b>Album</b></label><br>
                    <input type="text" [(ngModel)]="songDetails.album" placeholder="songDetails.album" name="album" required><br>
                    <label for="track"><b>Track</b></label><br>
                    <input type="text" [(ngModel)]="songDetails.track" placeholder="songDetails.track" name="track" required><br>
                    <label for="Genre"><b>Genre</b></label><br>
                    <input type="text" [(ngModel)]="songDetails.genre" placeholder="songDetails.genre" name="genre" required><br>
                    <button type="button" (click)="updateSongDetailsFE(songDetails._id)">Update</button><br>
                </div>
            </form>
        </div>
    </div>

    <!-- Block used to edit the plailist details -->
    <div id="myPlaylistNav" class="overlay">
        <div class="overlay-content" *ngIf="playListDetails">
            <form id="editPlaylistFormAdmin" action="/action_page.php" method="POST">
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav('myPlaylistNav')">&times;</a>
                <h2>Edit Details</h2>
                <div class="container">
                    <label for="title"><b>Title</b></label><br>
                    <input type="text" [(ngModel)]="playListDetails.title" id="title" placeholder="playListDetails.title" name="title" maxlength="100" title="Max length of 100 is alowed" pattern='^[0-9a-zA-Z]*$' required><br>
                    <label for="description"><b>Description</b></label><br>
                    <input type="text" [(ngModel)]="playListDetails.description" placeholder="playListDetails.description" name="description" required><br>
                    <button type="button" (click)="updatePlaylistDetailsFE(playListDetails._id)">Update</button><br>
                </div>
            </form>
        </div>
    </div>

    <!-- Block used to add details for a new song -->
    <div id="myNewNav" class="overlay">
        <div class="overlay-content">
            <form id="addSongFormAdmin" action="/action_page.php" method="POST">
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav('myNewNav')">&times;</a>
                <h2>Add Details</h2>
                <div class="container">
                    <label for="title"><b>Title</b></label><br>
                    <input type="text" [(ngModel)]="newTitle" id="title" placeholder="Enter your title here" name="name" maxlength="100" title="Max length of 100 is alowed" pattern='^[0-9a-zA-Z]*$' required><br>
                    <label for="artist"><b>Artist</b></label><br>
                    <input type="text" [(ngModel)]="newArtist" placeholder="Enter artist" name="artist" required><br>
                    <label for="album"><b>Album</b></label><br>
                    <input type="text" [(ngModel)]="newAlbum" placeholder="Enter album" name="album" required><br>
                    <label for="track"><b>Track</b></label><br>
                    <input type="text" [(ngModel)]="newTrack" placeholder="Enter track" name="track" required><br>
                    <label for="Genre"><b>Genre</b></label><br>
                    <input type="text" [(ngModel)]="newGenre" placeholder="Enter genre" name="genre" required><br>
                    <button type="button" (click)="addNewSongFE()">Update</button><br>
                </div>
            </form>
        </div>
    </div>

    <!-- Block used to add details for a new playlist -->
    <div id="myNewPlaylistNav" class="overlay">
        <div class="overlay-content">
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav('myNewPlaylistNav')">&times;</a>
            <form id="newPlaylistFormAdmin" action="/action_page.php" method="POST">
                <h2>Add Details</h2>
                <div class="container">
                    <label for="title"><b>Title</b></label><br>
                    <input type="text" [(ngModel)]="newTitle1" id="title" placeholder="Enter your title here" name="name" maxlength="100" title="Max length of 100 is alowed" pattern='^[0-9a-zA-Z]*$' required><br>
                    <label for="description"><b>Description</b></label><br>
                    <input type="text" [(ngModel)]="newDescription" placeholder="Enter description" name="description" required><br>
                    <label for="username"><b>Username</b></label><br>
                    <input type="text" [(ngModel)]="newUsername" placeholder="Enter user" name="username" required><br>
                    <button type="button" (click)="addNewPlaylistFE()">Update</button><br>
                </div>
            </form>
        </div>
    </div>

    <div class="lefttab">
        <button class="tablinks" (click)="openTab('Songs')">Songs</button>
        <button class="tablinks" (click)="openTab('Playlists')">Playlists</button>
        <button class="tablinks" (click)="openTab('Users')">Users</button>
    </div>

    <div id="Songs" class="lefttabcontent">
        <button class="notifButton" type="button" (click)="openNav('myNewNav')"><b>&#65291;Add New Song</b> </button>
        <ul *ngIf="allSongs ">
            <li *ngFor="let allSong of allSongs ">
                <p class="detail "><b>{{ allSong.title }}</b></p>
                <p class="detail "><b>Artist:</b> {{ allSong.artist || "N/A" }}</p>
                <p class="detail "><b>Album:</b> {{ allSong.album || "N/A" }}</p>
                <p class="detail "><b>Track:</b> {{ allSong.track || "N/A" }}</p>
                <p class="detail "><b>Genre:</b> {{ allSong.genre || "N/A" }}</p>
                <p class="detail "><b>Is Hidden:</b> {{ allSong.isHidden }}</p>
                <button class="notifButton" *ngIf="!allSong.isHidden" type="button" (click)="hideSongFE(allSong._id)"><b>Hide Song</b> </button>
                <button class="notifButton" *ngIf="allSong.isHidden" type="button" (click)="unhideSongFE(allSong._id)"><b>Unhide Song</b> </button>
                <button class="notifButton" type="button" (click)="getAndModifySongByID(allSong._id)"><b>Modify Song</b> </button>
                <button class="notifButton" type="button" (click)="deleteSongByIdFE(allSong._id) "><b>Delete Song</b> </button>
            </li>
        </ul>
    </div>

    <div id="Playlists" class="lefttabcontent" style="display: none">
        <button class="notifButton" type="button" (click)="openNav('myNewPlaylistNav')"><b>&#65291;Add New Playlist</b> </button>
        <ul *ngIf="allPlaylists ">
            <li *ngFor="let allPlaylist of allPlaylists ">
                <p class="detail "><b>{{ allPlaylist.title }}</b></p>
                <p class="detail "><b>User:</b> {{ allPlaylist.username || "N/A" }}</p>
                <p class="detail "><b>Desc:</b> {{ allPlaylist.description || "N/A" }}</p>
                <button class="notifButton" type="button" (click)="getPlaylistByIDFE(allPlaylist._id)"><b>Modify Playlist</b> </button>
                <button class="notifButton" type="button" (click)="deletePlaylistByIdFE(allPlaylist._id) "><b>Delete Playlist</b> </button>
            </li>
        </ul>
    </div>

    <div id="Users" class="lefttabcontent" style="display: none">
        <ul *ngIf="allUsers ">
            <li *ngFor="let allUser of allUsers ">
                <p class="detail "><b>User:</b> {{ allUser.username }}</p>
                <p class="detail "><b>Is Manager:</b> {{ allUser.isManager }}</p>
                <p class="detail "><b>Is Deactivated:</b> {{ allUser.isDeactivated }}</p>
                <button class="notifButton" *ngIf="allUser.isDeactivated && allUser.username != self" type="button" (click)="activateUserFE(allUser.username)"><b>Activate</b> </button>
                <button class="notifButton" *ngIf="!allUser.isDeactivated && allUser.username != self" type="button" (click)="deactivateUserFE(allUser.username)"><b>Deactivate</b> </button>
                <button class="notifButton" *ngIf="!allUser.isManager && allUser.username != self" type="button" (click)="setUserManagerFE(allUser.username)"><b>Set as Manager</b> </button>
                <button class="notifButton" *ngIf="allUser.isManager && allUser.username != self" type="button" (click)="unsetUserManagerFE(allUser.username)"><b>Unset as Manager</b> </button>
            </li>
        </ul>
    </div>

</div>