/* Styling the libadmin page */

.libadmin {
    background-image: url("../images/background6.jpg");
    min-height: 564px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: Georgia, Cambria, "Times New Roman", serif;
    form {
        position: absolute;
        right: 35%;
        margin: 20px;
        max-width: 350px;
        padding: 16px;
        background-color: rgb(0, 0, 0, 0.5);
        ;
        border: 3px solid #f3ecec;
        text-align: center;
        width: 30%;
        align-items: center;
        div {
            padding: 16px;
            label {
                color: white;
                font-weight: normal;
            }
            input[type=password],
            input[type=email] {
                width: 80%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid rgb(181, 181, 181);
                box-sizing: border-box;
            }
            button {
                background-color: rgb(41, 172, 128);
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 80%;
            }
            button:hover {
                opacity: 0.8;
            }
            a {
                padding-top: 16px;
                font-size: medium;
            }
        }
        .container2 {
            background-color: rgb(0, 0, 0, 0.5);
        }
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        background-color: rgba(13, 49, 37, 0.9);
        .overlay-content {
            position: relative;
            top: 10%;
            width: 100%;
            .split {
                min-height: 540px;
                width: 50%;
                position: absolute;
                z-index: 1;
                top: 0;
                overflow-x: hidden;
                padding-top: 20px;
                text-align: center;
            }
            .left {
                left: 0;
                div {
                    background-color: rgba(0, 0, 0, 0.2);
                    width: 50%;
                    position: relative;
                    left: 25%;
                }
            }
            .right {
                right: 0;
                background-color: rgba(0, 0, 0, 0.2);
                .closebtn {
                    position: absolute;
                    top: 20px;
                    right: 45px;
                    font-size: 60px;
                }
            }
        }
        h2,
        p {
            padding: 8px;
            color: white;
            display: block;
            transition: 0.3s;
        }
    }
    .tab {
        float: left;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 20%;
        height: 560px;
        button {
            display: block;
            background-color: inherit;
            color: black;
            padding: 22px 16px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
            font-size: 17px;
        }
        button:hover {
            background-color: #ddd;
        }
        button.active {
            background-color: #ccc;
        }
    }
    .tabcontent {
        float: left;
        padding: 0px 12px;
        border: 1px solid #ccc;
        width: 77%;
        border-left: none;
        height: 560px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        li {
            background: rgba(250, 244, 215, 0.856);
            padding: 1em;
            margin-right: 10px;
            width: 20%;
            margin-bottom: 0.5em;
            margin-top: 0.5em;
            display: flex;
            flex-direction: column;
            p {
                margin: 0;
            }
            p.name {
                font-weight: bold;
                font-size: 1rem;
            }
            p.detail {
                font-size: 0.8rem;
            }
        }
        .songReview {
            margin-left: 10%;
            width: 70%;
            background: rgba(250, 244, 215, 0.4);
        }
    }
}

.notifButton {
    background-color: rgb(0, 0, 0, 0.2);
    text-decoration: none;
    padding: 10px 15px;
    position: relative;
    display: inline-block;
    border: none;
    color: white;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.notifButton:hover {
    background-color: rgb(0, 0, 0);
}