<div class=songs>
    <span class=searchContainer>
        <input class="notifButton" type="text" [(ngModel)]="songname" placeholder="Enter search text here" maxlength="100" title="This search supports all attributes to search for songs" pattern='^[0-9a-zA-Z]*$' required><br>
        <button class="notifButton" type="button" (click)="searchSong(songname)"> &#8981; </button>
    </span>
    <ul *ngIf="searchedSongs">
        <li *ngFor="let searchedsong of searchedSongs">
            <button class="notifButton" type="button" (click)="getSongByID(searchedsong._id)"><b>{{ searchedsong.title }} </b></button>
            <p class="detail"><b>Artist:</b> {{ searchedsong.artist }}</p>
            <p class="detail"><b>Album:</b> {{ searchedsong.album }}</p>
            <p class="detail"><b>Track:</b> {{ searchedsong.track }}</p>
            <p class="detail"><b>Genre:</b> {{ searchedsong.genre }}</p>
        </li>
    </ul>
    <h2>Listing top 10 songs as per reviews</h2>
    <ul *ngIf="famousSongs">
        <li *ngFor="let famoussong of famousSongs">
            <button class="notifButton" type="button" (click)="getSongByID(famoussong._id)"><b>{{ famoussong.title }}</b> </button>
            <p class="detail"><b>Artist:</b> {{ famoussong.artist }}</p>
            <p class="detail"><b>Album:</b> {{ famoussong.album }}</p>
            <p class="detail"><b>Track:</b> {{ famoussong.track }}</p>
            <p class="detail"><b>Genre:</b> {{ famoussong.genre }}</p>
        </li>
    </ul>
    <p>Song works!</p>
</div>