<div class=headerblock id="UserDetails">
    <div class=about>
        <h2>About</h2>
        <p>The Application that keeps you updated on the most famous songs and with user access allows you to make awesome playlists of your favourite songs.</p>
        <p>So what are you waiting for?</p>
        <p>Hurry! Signup!</p>
    </div>
    <form id="userDetailForm" action="/action_page.php" method="POST">
        <h2>Start Using</h2>
        <div class="container">
            <button type="button" (click)="gotoLogin()" style="background-color: rgba(41, 172, 128, 0.644);">Login</button><br>
            <button type="button" (click)="gotoSignup()" style="background-color: rgba(41, 172, 128, 0.744);">Signup</button><br>
            <button type="button" (click)="gotoGoogleLogin()" style="background-color: rgba(41, 172, 128, 0.844);">Google Login</button><br>
            <button type="button" (click)="gotoGuestUser()">Guest User</button><br>
        </div>
    </form>
</div>