/* Styling the login page */

.headerblock {
    .about {
        position: absolute;
        top: 8px;
        left: 16px;
        color: black;
        text-shadow: 0.2px 0.2px gray;
        max-width: 60%;
        padding-top: 8%;
    }
    form {
        padding-top: 30%;
        right: 0;
        max-width: 350px;
        padding: 16px;
        background-color: white;
        border: 3px solid #f1f1f1;
    }
}